@import "../../styles/breakpoints.scss";

.search-bar-container {
  width: 100%;
  height: fit-content;

  .search-bar-input-wrapper {
    $radius: 8px;
    width: 50%;
    max-width: 500px;
    position: relative;

    @include break-down("md") {
      width: 95%;
      max-width: 100%;
    }

    input {
      width: calc(100% - 50px);
      border-radius: $radius;
      height: 40px;
      padding-left: 40px;
      padding-right: 25px;
      font-size: 1.1rem;
      width: 100%;
      // padding: 10px;
    }

    .btn-search {
      position: absolute;
      left: 0;
      top: 0;
      width: 45px;
      height: 35px;
      // background-color: rgba(102, 102, 102, 0.445);
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
      text-align: center;
      padding-top: 10px;
      cursor: pointer;

      &.hover {
        // background-color: rgba(59, 45, 71, 0.986);
      }

      &:hover {
        // background-color: rgba(59, 45, 71, 0.986);
      }
      &:active {
        // background-color: rgba(103, 72, 131, 0.986);
      }
    }
    .btn-close {
      position: absolute;
      right: -75px;
      top: 0;
      width: 45px;
      height: 35px;
      text-align: center;
      padding-top: 12px;
      cursor: pointer;

      svg {
        &:hover {
          color: purple !important;
        }
        // background-color: rgba(59, 45, 71, 0.986);
      }
      &:active {
        // background-color: rgba(103, 72, 131, 0.986);
      }
    }
  }
}
